// consistent

debug()
  border 1px solid red
hide-text()
  text-indent 200%
  white-space nowrap
  overflow hidden
unhide-text()
  text-indent 0
  white-space normal
  overflow visible
hide()
  position absolute
  width 1px
  height 1px
  padding 0
  margin -1px
  overflow hidden
  clip rect(0 0 0 0)
  border 0
center-both()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
center-vertically()
  position absolute
  top 50%
  transform translateY(-50%)
center-horizontally()
  position absolute
  left 50%
  transform translateX(-50%)
transform()
  -webkit-transform arguments
  -ms-transform arguments
  transform arguments
animation()
  -webkit-animation arguments
  animation arguments
transform-origin()
  -webkit-transform-origin arguments
  transform-origin arguments
box-sizing()
  -webkit-box-sizing arguments
  box-sizing arguments