red = desaturate(lighten(red, 20%), 40%)
cyan = desaturate(lighten(cyan, 40%), 60%)

small-mobile = 20em // 320
medium-mobile = 23.4375em // 375
large-mobile = 25.875em // 414
small-tablet = 37.5em // 600
medium-tablet = 48em // 768
large-tablet = 60em // 900
small-screen = 64em // 1024
medium-screen = 80em // 1280
large-screen = 90em // 1440
xlarge-screen = 100em // 1600